<div class="sign-form">
    <div class="text-center border border-light p-5">
        <div class="sign-form">
            <p class="h4 mb-4">Bem vindo, usuário administrador!</p>
        
            <!-- Marcas button -->
            <button type="button" class="btn btn-dark m-2" (click)="marcaService()">Marcas</button><br>

            <!-- Produtos button -->
            <button type="button" class="btn btn-dark m-2" (click)="produtoService()">Produtos</button><br>

            <!-- Estoques button -->
            <button type="button" class="btn btn-dark m-2" (click)="estoqueService()">Estoque</button><br>
            
        </div>
    </div>
</div>