.sign-form {
    width: 50%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}